version: '3.8'

services:
  api:
    build: .
    command: gunicorn -c gunicorn_conf.py app.main:app
    volumes:
      - ./uploads:/app/uploads
      - ./.env:/app/.env
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - UPLOAD_DIR=uploads
    depends_on:
      - db
    restart: always
    networks:
      - app_network

  db:
    image: postgis/postgis:15-3.3
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=baxrom
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=university_nav
    ports:
      - "5432:5432"
    restart: always
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
